body {
    font-family: Arial, sans-serif;
}

p {
    display: block;
    text-align: center;
    font-size: 18px;
}

img {
    display: block;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid black;
}